.content{
    width: 100%;
}



img{
    width: 300px;
    height: 200px;
    border: 1px solid black;
}


.date{
    opacity: 0.5;
    text-align: right;
}

.add{
    opacity: 0.5;
    text-align: right;
}

th{
    text-align: left;
}

.row{
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    
}