.content{
    width: 880px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;

}

.ground{
    width: 220px;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;


}



img{
    width: 200px;
    height: 150px;
    border: 1px solid black;
    

}

.temp{
    text-align: center;
}