<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>마이 페이지</h1>
    <h2>유저: <%= data.name %></h2>
    <a href="/border/view/<%= data.id %>">등록 글 보러가기</a>
    <form action="/border/create_border" method="post">
        <input type="text" name="user_post" placeholder="글 내용"> <br>
        <button>글 등록하기</button>
    </form>
</body>
</html>