<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update page</title>
</head>
<body>
    <h1>게시글 수정하기</h1>
    <form action="/update/<%= data.id %>" method="post">
        <input type="text" name="title" value="<%= data.title %>"> <br> <br>
        <input type="text" name="content" value="<%= data.content %>"> <br> <br>
        <button>수정</button>
    </form>
</body>
</html>