.ground{
    position: relative;

    
}

.tab_menu{
    display: flex;
    flex-wrap: wrap;

    top: 100px;
    left: 100px;
}

.search::before{

    position: absolute;

    top: 163px;
    right: 18px;

    background-size: 30px;

    z-index: 1;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    display: block;
    content: "";
    background-image: url("https://img.megabox.co.kr/static/pc/images/common/btn/btn-search-input.png");
}

.search{
    position: relative
}

.search input{
    position: absolute;
    
    padding-right: 40px;

    top: 160px;
    right: 33px;
    
    width: 196px;
    height: 30px;
}

.tab_menu > input {
    display: none;
}


.tab_menu > input + label {
    display: inline-block;
    padding: 30px;
    border: 1px solid gray;
    color: black;
    font-size: 15px;
    text-align: center;

    width: 200px;

    /*마우스를 올렸을 때 보여줄 커서를 설정할 수 있다.*/
    cursor: pointer;
}


.tab_menu > input:checked + label {
    border: 2px solid purple;
    border-bottom: none;
    color: purple;
}

.movies1{
    position: absolute;

    top: 220px;
    left: 10px;

    width: 1180px;
    height: 2000px;

    
}

.movies2{
    position: absolute;

    top: 220px;
    left: 10px;

    width: 1180px;
    height: 2000px;

    
}

.movies3{
    position: absolute;

    top: 220px;
    left: 10px;

    width: 1180px;
    height: 2000px;

    
}

.movies4{
    position: absolute;

    top: 220px;
    left: 10px;

    width: 1180px;
    height: 2000px;

    
}

.movies5{
    position: absolute;

    top: 220px;
    left: 10px;

    width: 1180px;
    height: 2000px;

    
}

.box{

    width: 1300px;
    height: 2000px;

    display: none;

}

.movies{
    display: flex;
    flex-wrap: wrap;
}

.movie01{
    position: relative;

    width: 270px;
    height: 500px;

    top: 10px;
    left: 10px;

    margin: 20px;

}
.movie02{
    position: relative;

    width: 270px;
    height: 500px;

    top: 10px;
    left: 10px;

    margin: 20px;

}
.movie03{
    position: relative;

    width: 270px;
    height: 500px;

    top: 10px;
    left: 10px;

    margin: 20px;

}
.movie04{
    position: relative;

    width: 270px;
    height: 500px;

    top: 10px;
    left: 10px;

    margin: 20px;

}
.movie05{
    position: relative;

    width: 270px;
    height: 500px;

    top: 10px;
    left: 10px;
    
    margin: 20px;

}
.movie06{
    position: relative;

    width: 270px;
    height: 500px;

    top: 10px;
    left: 10px;
    margin: 20px;
}
.movie07{
    position: relative;

    width: 270px;
    height: 500px;

    top: 10px;
    left: 10px;

    margin: 20px;
}
.movie08{
    position: relative;

    width: 270px;
    height: 500px;

    top: 10px;
    left: 10px;

    margin: 20px;
}
.movie09{
    position: relative;

    width: 270px;
    height: 500px;

    top: 10px;
    left: 10px;

    margin: 20px;
}
.movie10{
    position: relative;

    width: 270px;
    height: 500px;

    top: 10px;
    left: 10px;

    margin: 20px;
}
.movie11{
    position: relative;

    width: 270px;
    height: 500px;

    top: 10px;
    left: 10px;

    margin: 20px;
}
.movie12{
    position: relative;

    width: 270px;
    height: 500px;

    top: 10px;
    left: 10px;

    margin: 20px;
}


.age_12 {
    position: absolute;

    top: 311px;
    left: 20px;

    font-size: 25px;
    font-weight: 800;
    padding: 2px;
    height: 38px;

    background-color: rgb(227, 178, 31);
    border-radius: 10px;
    color: white;
}

.age_15 {
    position: absolute;

    top: 311px;
    left: 20px;

    font-size: 25px;
    font-weight: 800;
    padding: 2px;
    height: 38px;

    background-color: rgb(227, 142, 31);
    border-radius: 10px;
    color: white;
}

.age_18 {
    position: absolute;

    top: 311px;
    left: 20px;

    font-size: 25px;
    font-weight: 800;
    padding: 2px;
    height: 38px;

    background-color: rgb(171, 31, 31);
    border-radius: 10px;
    color: white;
}

.age_all {
    position: absolute;

    top: 318px;
    left: 20px;

    font-size: 18px;
    font-weight: 800;
    padding: 2px;
    height: 38px;

    background-color: rgb(32, 145, 19);
    border-radius: 10px;
    color: white;
}


.title{
    position: absolute;

    bottom: 106px;
    left: 66px;

    width: 185px;

    font-size: 25px;
    letter-spacing: -1px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.sub{
    position: absolute;

    bottom: 68px;
    left: 20px;

    letter-spacing: -1px;

}

.sub span::before{
    content: "｜";

    color: gray;
    opacity: 70%;
}

.like{
    position: absolute;

    width: 75px;
    height: 40px;
    
    bottom: 30px;
    left: 20px;
}

.order{
    position: absolute;

    width: 75px;
    height: 40px;
    
    bottom: 30px;
    left: 100px;

    background-color: purple;
    color: white;

    font-weight: 800;
}

.order_2{
    position: absolute;

    width: 147px;
    height: 40px;
    
    bottom: 30px;
    left: 100px;

    background-color: purple;
    color: white;

    font-weight: 800;
}


.cinema{
    position: absolute;

    width: 75px;
    height: 40px;
    
    bottom: 30px;
    left: 180px;

    text-align: center;

    background-color: purple;
    color: white;

    font-weight: 600;


}


.picture{
    position: relative;
}


.box img{
    position: absolute;
    
    width: 230px;
    height: 330px;
    
    left: 18px;
}

.hov{
    position: absolute;

    width: 210px;
    height: 310px;

    left: 18px;
    top: 0px;

    margin: 0;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    display: none;

    padding: 10px;

    text-overflow: ellipsis;
}

.picture:hover .hov{
    display: block;
}

.no{
    position: absolute;

    font-size: 30px;
    font-weight: bold;

    color: white;

    top: 10px;
    height: 100px;
}

input[class="b.o"]:checked ~ .movies1{
    display: block;
}

input[class="s.y"]:checked ~ .movies2{
    display: block;
}

input[class="t.s"]:checked ~ .movies3{
    display: block;
}

input[class="f.s"]:checked ~ .movies4{
    display: block;
}

input[class="c.s"]:checked ~ .movies5{
    display: block;
}