<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostList Page</title>
</head>
<body>
    <h1>전체 글 목록</h1>
    <% data.forEach((el) => { %>
    <div>    
        <div><%= el.id %></div>
        <a href="/view/<%= el.id %>"><div><%= el.title %></div></a>
        <div><%= el.writer %></div>
    </div>
    <br><br>
    <% }); %>
    <a href="/insert">글 작성</a>
</body>
</html>